* {
    margin: 0;
    padding: 0;

}
body {
    background-color: white;
}

.botonera {
    background-color: rgb(33, 32, 32);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.linkverde{
    color: rgb(5, 181, 84);
}

.card-title-carrousel {
    color: white;
}

.card-text-carrousel{
    color: white;
    font-size: 1.25vw;
}

a {
    color: aliceblue;
}
.card-body {
    padding:1vmax
}

.btn-primary { 
    background-color: rgb(48, 225, 25);
}

footer {
    background-color: rgb(0, 70, 81);
}

.ul {
    width: 1000px;
}


